@if (this.sceneService.currentScene()){
  <div class="input">
    <label>Название</label>
    <input class="input-input" type="text" autocomplete="none"
           [ngModel]="sceneService.currentScene()?.name"
           (ngModelChange)="updateSceneOption('name', $event, true)">
  </div>
  <div class="input">
    <label>Фон</label>
    <label for="avatar" class="cursor-pointer">
      <img class="w-full" [src]="backgroundURL()" alt="Фон">
      <input type="file" id="avatar" style="display:none" (change)="openfile($event)">
    </label>
  </div>
  <label>Сетка</label>
  <div class="flex gap-1">
    <div class="input">
      <label>шаг</label>
      <input class="input-input-inline" type="number" autocomplete="none"
             [ngModel]="sceneService.currentScene()?.gridStepWidth"
             (ngModelChange)="updateSceneOption('gridStepWidth',$event)">
    </div>
    <div class="input">
      <label>смещение X</label>
      <input class="input-input-inline" type="number" autocomplete="none"
             [ngModel]="sceneService.currentScene()?.gridDX"
             (ngModelChange)="updateSceneOption('gridDX',$event)">
    </div>
    <div class="input">
      <label>смещение Y</label>
      <input class="input-input-inline" type="number" autocomplete="none"
             [ngModel]="sceneService.currentScene()?.gridDY"
             (ngModelChange)="updateSceneOption('gridDY',$event)">
    </div>
  </div>

  <span class="flex-auto"></span>
  @if (!confirmDelete()){
    <button class="button submit-button text-red-500 border border-red-500 " (click)="confirmDelete.set(true)">удалить</button>
  } @else {
    <button class="button submit-button bg-red-500 border border-red-500 hover:!bg-red-500" (click)="delete()" (mouseleave)="confirmDelete.set(false)">!УДАЛИТЬ!</button>
  }
}
