<div class="def-init w-full flex flex-col p-4 rounded-md gap-4">
  @switch (mode()){
    @case ('list'){
      <div class="flex flex-col w-full gap-2">
        <button class="button button-bordered" (click)="mode.set('add')">Добавить файл</button>
        @for(file of list(); track $index){
          <button class="button" (click)="selectFile(file)">{{file}}</button>
        }
      </div>
    }
    @case ('add'){
      <div class="flex flex-col w-full gap-2">
        <button class="button button-bordered" (click)="mode.set('list')">назад</button>
        <input id="preview" type="file" (change)="openfile($event)" />
      </div>
    }
  }
</div>
