:host{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button{
  @apply cursor-pointer hover:bg-slate-100 hover:dark:bg-slate-700 p-3 w-32 rounded-md text-center;
}
