<div class="top-left">
  <dndapp-map-scenes/>
</div>
<div class="top-center">
  @if (sceneService.currentScene()?.name){
    <h3 class="title">{{sceneService.currentScene()?.name}}</h3>
  }
</div>
<div class="top-right">
  <button  style="background-color: red">dsfsdffs</button>
</div>
<div class="bottom-left">
  <dndapp-map-zoom (zoom)="zoom($event)"/>
</div>
<div class="bottom-center">

</div>
<div class="bottom-right">

</div>
<svg
     (pointerdown)="downHandleGrid($event)"
     (pointermove)="moveHandleGrid($event)"
     (wheel)="wheelHandleGrid($event)"
     (click)="clickHandleGrid($event)"
     [attr.viewBox]="'0 0 500 500'"
     #svgGrid>
  <defs>
    <pattern id="smallGrid"
             [attr.width]="gridMiniCubeBimension()" [attr.height]="gridMiniCubeBimension()"
             patternUnits="userSpaceOnUse">
      <path [attr.d]="'M '+gridMiniCubeBimension()+' 0 L 0 0 0 '+gridMiniCubeBimension()" fill="none" stroke="gray" stroke-width="0.5"/>
    </pattern>
    <pattern id="grid" [attr.x]="sceneService.gridDX()" [attr.y]="sceneService.gridDY()"
             [attr.width]="gridCubeDimension()" [attr.height]="gridCubeDimension()"
             patternUnits="userSpaceOnUse">
      <rect [attr.width]="gridCubeDimension()" [attr.height]="gridCubeDimension()" fill="url(#smallGrid)"/>
      <path [attr.d]="'M '+gridCubeDimension()+' 0 L 0 0 0 '+gridCubeDimension()" fill="none" stroke="black" stroke-width="1"/>
    </pattern>
  </defs>
  <image #bgImage x="0" y="0" width="1000" height="1000"/>
  <rect [attr.width]="gridWH().width" [attr.height]="gridWH().height" fill="url(#grid)" />
  <!-- node -->
  <defs>
    <filter id="shadow">
      <feDropShadow dx="3" dy="3" stdDeviation="0" flood-color="rgba(0, 0, 0, .5)" flood-opacity="0.5"/>
    </filter>
    <filter id="liftedShadow">
      <feDropShadow dx="4" dy="4" stdDeviation="0" flood-color="rgba(0, 0, 0, .5)" flood-opacity="0.7"/>
    </filter>
  </defs>
  <g>
    @for(nodeLayer of nodeLayers(); track nodeLayer.id){
      <rect
        (pointerdown)="downHandleNodeLayer($event, nodeLayer)"
        (click)="clickHandleNodeLayer($event, nodeLayer)"
        [attr.id]="nodeLayer.id"
        [attr.x]="nodeLayer.positionX - gridCubeDimension() / 2"
        [attr.y]="nodeLayer.positionY - gridCubeDimension() / 2"
        [attr.width]="gridCubeDimension()"
        [attr.height]="gridCubeDimension()"
        [attr.rx]="nodeLayer.rx"
        [attr.ry]="nodeLayer.ry"
        stroke="black"
        stroke-width="0.1"
        [attr.transform]="nodeLayer.rotate ? 'rotate('+nodeLayer.rotate+'deg)':''"
        [attr.fill]="nodeLayer.color"
        [attr.filter]="nodeLayer.shadowFilter">
      </rect>
      <text
        [attr.x]="nodeLayer.positionX - gridCubeDimension() / 2"
        [attr.y]="nodeLayer.positionY"
        [attr.width]="gridCubeDimension()"
        [attr.height]="gridCubeDimension()"
        [attr.rx]="nodeLayer.rx"
        [attr.ry]="nodeLayer.ry"
        [attr.transform]="nodeLayer.rotate ? 'rotate('+nodeLayer.rotate+'deg)':''"
      >
        {{nodeLayer.name}}
      </text>
    }
  </g>
</svg>
