:host{
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.top-left{
  position: absolute;
  left: 16px;
  top: 16px;
}
.bottom-left{
  position: absolute;
  left: 16px;
  bottom: 16px;
}

.help-buttons{
  position: absolute;
  left: 16px;
  top: 16px;
}
.title{
  position: absolute;
  left: 500px;
  top: 16px;
}
